<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1">
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>#1</h1> - 
                <h3>2021</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos expedita necessitatibus illum, quod laudantium, ducimus repudiandae mollitia repellat qui enim eveniet natus? Similique atque hic sequi laudantium iusto mollitia.</p>
        </ul>
        <ul>
            <li>
                <h1>#2</h1> - 
                <h3>2021</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos expedita necessitatibus illum, quod laudantium, ducimus repudiandae mollitia repellat qui enim eveniet natus? Similique atque hic sequi laudantium iusto mollitia.</p>
        </ul>
        <ul>
            <li>
                <h1>#3</h1> - 
                <h3>2022</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos expedita necessitatibus illum, quod laudantium, ducimus repudiandae mollitia repellat qui enim eveniet natus? Similique atque hic sequi laudantium iusto mollitia.</p>
        </ul>
    </div> 
    </div>
</div>